#div1{
    color: white;
    background-color: red;
    text-align: center;
    height: 200px;
    width: 1350px;
    padding-top: 5%;
    font-size: 100px;

}

#div2{
    color: white;
    background-color:yellow ;
    text-align: center;
    height: 200px;
    width: 1350px;
}

#div3{
    color: white;
    background-color: black;
    text-align: center;
    height: 200px;
    width: 1350px;
}

#div4{
    color:white;
    background-color: green;
    text-align: center;
    height: 200px;
    width: 1350px;
}